<container>
	<row>
		<column class="gutter padding-b mobile-padding-med">
			<container>
				<row class="dc-container">

					<column large="6" small="12" class="text-left main-unit-name padding-t-small mobile-pb-small dt-col-l">
						<a class="cta" href="{{{ url }}}{{{ utm_add }}}" target="_blank">
							<p class="dc-preheader">
								<!-- {{{{raw-helper}}}} -->
								{{ park_1_num_units }} popular homes near
								<!-- {{{{/raw-helper}}}} -->
							</p>
							<h3 class="dc-loc-name">{{ park_1_name }}</h3>
						</a>
					</column>
					<column large="6" small="12" class="text-right dt-col-r">
						<a href="{{{ park_1_url }}}{{{ utm_add }}}" target="_blank">

							<img class="dc-img" infer="retina" width="292"
								src="{{{ park_1_image }}}?w=584&ar=3:1&fit=crop&crop=entropy,edges"
								alt="Open new page to book {{ park_1_name }} on Vacasa.com."></img>

						</a>
					</column>
				</row>
			</container>

		</column>
	</row>
</container>
