<container>
	<row>
		<column class="gutter mobile-padding-med">
			<container>
				<row class="dc-container">

					<column large="6" small="12" class="text-left padding-t-small mobile-pb-small dc-col-l">
						<a class="cta" href="{{{ url }}}{{{ utm_add }}}" target="_blank">
							<p class="dc-preheader">
								<!--raw-helper-->
								Find your home near
								<!--/raw-helper-->
							</p>
							<h3 class="dc-loc-name">{{ name }}</h3>
						</a>
					</column>
					<column large="6" small="12" class="text-right dc-col-r">
						<a href="{{{ url }}}{{{ utm_add }}}" target="_blank">

							<img class="dc-img" infer="retina" width="296"
								src="{{{ image }}}?w=592&q=35&ar=3:1&fit=crop&crop=entropy,edges"
								alt="Open new page to book {{ name }} on Vacasa.com."></img>

						</a>
					</column>
				</row>
			</container>

		</column>
	</row>
</container>
