<!-- raw-helper -->

<a href="{{unit_4_url}}" target="_blank" class="unit-card-link">
	<img infer="retina" class="unit-card-image" src="{{unit_4_image}}?w=568" alt="{{unit_4_name}}" width="284"
		style="display: block; max-width: 100%;" />
	<h3 class="unit-card-name">
		{{unit_4_name}}
	</h3>
	<p class="unit-card-attributes">
		{{unit_4_bed}}&nbsp;Bed | {{unit_4_bath}}&nbsp;Bath |
		Sleeps&nbsp;{{unit_4_sleeps}}
	</p>
	<p class="unit-card-price">
		<span class="current-price" style="font-size:15px;font-weight:600">{{ destination_6 }}</span>
	</p>
</a>
<!-- /raw-helper -->
