<!-- raw-helper -->
<a href="https://www.vacasa.com/vacation-rentals-with-hot-tubs?utm_source=transactional&utm_campaign=book_again&utm_content=last_night_res"
	target="_blank" class="unit-card-link">
	<img class="unit-card-image"
		src="https://www-vacasa.imgix.net/big_sky_hot_tub.jpg?auto=format%2Ccompress&fit=crop&h=414&ixlib=python-3.1.1&q=45&w=552&s=265e2f69d7e37b65e1d8b95a631c8538"
		alt="Hottub on deck overlooking mountains" width="268" style="display: block; max-width: 100%;" />
	<p class="filter-link">
		<a class="filter-link"
			href="https://www.vacasa.com/vacation-rentals-with-hot-tubs?utm_source=transactional&utm_campaign=book_again&utm_content=last_night_res"
			target="_blank" rel="noopener noreferrer">Explore vacation rentals
			with&nbsp;hot&nbsp;tubs</a>

	</p>
</a>
<!-- /raw-helper -->
