<container>
	<row class="padding-b-small">
		<column class="cta text-left small-head gutter">
			<a href="{{ url }}" target="_blank">
				<img class="lead-image" infer="retina" width="556" src="{{ main_image }}&ar=2:1&fit=crop&crop=entropy"
					alt="Open new page to rebook on Vacasa.com."></img>
			</a>
		</column>
	</row>
</container>
<container>
	<row class="padding-b">
		<column class="gutter cta text-left small-head">
			<h1 class="white-header">
				<!--[if !mso]><!-->
				Did you fall in love with your Vacasa home?
				<!--<![endif]-->
				<!--[if mso]>
				Did you fall in love with<br> your Vacasa home?
				<![endif]-->
			</h1>
			<span class="sub-message">
				Book this home again for your next getaway!
			</span>
		</column>
	</row>
</container>
<container>
	<row class="padding-b gutter">
		<column class="button text-center">
			{{> primary-button label="Rebook Your Home" url="{{UNIT_URL}}" }}
		</column>
	</row>
</container>
