<container>
    <row>
        <column>
            <a href="{{article_url}}{{ utm_add }}" target="_blank" class="unit-card-link">
                <img infer="retina" class="unit-card-image" src="{{article_banner}}" />
            </a>
        </column>
    </row>
    <row>
        <column class="cta gutter-small padding-b-small text-left">
            <h1 class="small-head">
                Did you fall in love with your Vacasa home?
            </h1>
        </column>
    </row>
    <row>
        <column class="cta gutter-small padding-b-large text-left">
            <p class="sub-message">
                Book this home again for your next getaway!
            </p>
        </column>
    </row>
</container>
