<row class="padding-b mobile-padding">

	<column class="four-box" large="3" small="6">
		<img src="" alt="">
		<!-- raw-helper -->

		<a href="{{thing_1_url}}" target="_blank" class="unit-card-link">
			<img infer="retina" class="unit-card-image" src="{{unit_1_image}}?w=568&ar=1:1&fit=crop&crop=entropy,edges"
				alt="{{unit_1_name}}" width="134" style="display: block; max-width: 100%;" />
			<h3 class="four-box-name">
				Thing name
			</h3>
			<p class="four-box-description">
				Thing description
			</p>
		</a>

		<!-- /raw-helper -->
	</column>
	<column class="four-box" large="3" small="6">
		<img src="" alt="">
		<!-- raw-helper -->

		<a href="{{thing_1_url}}" target="_blank" class="unit-card-link">
			<img infer="retina" class="unit-card-image" src="{{unit_1_image}}?w=568&ar=1:1&fit=crop&crop=entropy,edges"
				alt="{{unit_1_name}}" width="134" style="display: block; max-width: 100%;" />
			<h3 class="four-box-name">
				Thing name
			</h3>
			<p class="four-box-description">
				Thing description
			</p>
		</a>

		<!-- /raw-helper -->
	</column>
	<column class="four-box" large="3" small="6">
		<img src="" alt="">
		<!-- raw-helper -->

		<a href="{{thing_1_url}}" target="_blank" class="unit-card-link">
			<img infer="retina" class="unit-card-image" src="{{unit_1_image}}?w=568&ar=1:1&fit=crop&crop=entropy,edges"
				alt="{{unit_1_name}}" width="134" style="display: block; max-width: 100%;" />
			<h3 class="four-box-name">
				Thing name
			</h3>
			<p class="four-box-description">
				Thing description
			</p>
		</a>

		<!-- /raw-helper -->
	</column>
	<column class="four-box" large="3" small="6">
		<img src="" alt="">
		<!-- raw-helper -->

		<a href="{{thing_1_url}}" target="_blank" class="unit-card-link">
			<img infer="retina" class="unit-card-image" src="{{unit_1_image}}?w=568&ar=1:1&fit=crop&crop=entropy,edges"
				alt="{{unit_1_name}}" width="134" style="display: block; max-width: 100%;" />
			<h3 class="four-box-name">
				Thing name
			</h3>
			<p class="four-box-description">
				Thing description
			</p>
		</a>

		<!-- /raw-helper -->
	</column>

</row>
