<container>
	<row class="whitebg">
		<column large=" 6" small="0" class="full-width-app-image whitebg mobile-app-left">
			<img infer="retna" width="260" height="297.64"
				src="https://www-vacasa.imgix.net/app-screens_hero2x.png?auto=format%2Ccompress&ixlib=python-3.1.1&q=45&s=7de21d9556da4c424df5bdce9e11e81c"
				alt="The Vacasa mobile app on Apple and Android phones" />
		</column>
		<column large="6" small="12" class="mobile-app padding-b mobile-app-right">
			<p class="prehead whitebg">
				<strong>VACATION SMARTER</strong>
				<!--[if mso]><br /><br /><![endif]-->
			</p>
			<h2 class="mobile-app-header whitebg">
				Download the Vacasa&nbsp;app
				<!--[if mso]><br /><br /><![endif]-->
			</h2>
			<p class="mobile-app-copy whitebg">
				Get driving directions, 3D tours, instant WiFi connection, and early
				check-in availability notifications. Offline mode means no more snapping
				screenshots or searching your inbox.
				<!--[if mso]><br /><br /><![endif]-->
			</p>
			{{> secondary-button label="Get The App" url=mobile_app_url }}
		</column>

	</row>
</container>
<container class="pop-down">
	<row class="gutter">
		<column large="0" small="12" class="padding-t-large padding-b-large text-center">
			<img infer="retna" width="175"
				src="https://www-vacasa.imgix.net/app-screens_hero2x.png?auto=format%2Ccompress&ixlib=python-3.1.1&q=45&s=7de21d9556da4c424df5bdce9e11e81c"
				style="margin: auto;" alt="The Vacasa mobile app on Apple and Android phones" />
		</column>
	</row>
</container>

<container>
	<row>
		<column large="12" small="0" class="padding-t">
			<hr style="border-top:1px solid #CCD6DB; width: 100%; max-width:552px; height:1px;" />
		</column>
	</row>
</container>
