<!-- {{{{raw-helper}}}} -->
<column class="fixed right-col-item mobile-padding-med padding-b-large" large="6" small="6">
	<a href="{{{location_4_url}}}{{{ utm_add }}}" target="_blank" class="unit-card-link">
		<img infer="retina" class="unit-card-image padding-b-small"
			src="{{{location_4_image}}}?w=576&ar=4:3&fit=crop&crop=entropy,edges" alt="{{location_4_name}}" width="288" />
		<p class="unit-card-attributes">
			{{ location_4_num_units }} popular homes&nbsp;near
		</p>
		<h3 class="location-card-name">
			{{location_4_name}}
		</h3>
	</a>
	<!-- {{{{/raw-helper}}}} -->
</column>
