<!-- raw-helper -->
<column class="fixed left-col-item mobile-padding-med padding-b-large" large="6" small="6">
	<a href="{{{location_3_url}}}{{{ utm_add }}}" target="_blank" class="unit-card-link">
		<img infer="retina" class="unit-card-image padding-b-small"
			src="{{{location_3_image}}}?w=576&ar=4:3&fit=crop&crop=entropy,edges" alt="{{location_3_name}}" width="288" />
		<p class="unit-card-attributes">
			{{ location_3_num_units }} popular homes&nbsp;near
		</p>
		<h3 class="location-card-name">
			{{location_3_name}}
		</h3>

	</a>
	<!-- /raw-helper -->
</column>
