<container>
	<row>
		<column large="6" small="6" class="fixed left-col-item mobile-padding-small-l padding-b">

			<container class="wf-container">
				<row>
					<column class="wf padding-b-small">
						<!-- raw-helper -->
						<a href="{{{ unit_1_url }}}{{{ utm_add }}}" target="_blank">
							<img infer="retina" class="wf-img" width="288"
								src="{{{ unit_1_image }}}?w=576&ar=3:4&fit=crop&crop=entropy,edges"
								alt="Click to view and book {{ unit_1_name }} on Vacasa.com" />
					</column>
				</row>
				<row>
					<column class="wf padding-b">
						<p class="wf-name">
							{{ unit_1_name }}
						</p>
						<p class="wf-loc">
							{{ unit_1_location }}
						</p>
						</a>
						<!-- /raw-helper -->
					</column>
				</row>
				<row>
					<column class="wf padding-b-small">
						<!-- raw-helper -->
						<a href="{{{ unit_2_url }}}{{{ utm_add }}}" target="_blank">
							<img infer="retina" class="wf-img" width="288"
								src="{{{ unit_2_image }}}?w=576&ar=4:3&fit=crop&crop=entropy,edges"
								alt="Click to view and book {{ unit_2_name }} on Vacasa.com" />
					</column>
				</row>
				<row>
					<column class="wf padding-b">
						<p class="wf-name">
							{{ unit_2_name }}
						</p>
						<p class="wf-loc">
							{{ unit_2_location }}
						</p>
						</a>
						<!-- /raw-helper -->
					</column>
				</row>
			</container>

		</column>
		<column large="6" small="6" class="fixed right-col-item mobile-padding-small-r padding-b">

			<container class="wf-container">
				<row>
					<column class="wf padding-b-small">
						<!-- raw-helper -->
						<a href="{{{ unit_3_url }}}{{{ utm_add }}}" target="_blank">
							<img infer="retina" class="wf-img" width="288"
								src="{{{ unit_3_image }}}?w=576&ar=5:4&fit=crop&crop=entropy,edges"
								alt="Click to view and book {{ unit_3_name }} on Vacasa.com" />
					</column>
				</row>
				<row>
					<column class="wf padding-b">
						<p class="wf-name">
							{{ unit_3_name }}
						</p>
						<p class="wf-loc">
							{{ unit_3_location }}
						</p>
						</a>
						<!-- /raw-helper -->
					</column>
				</row>
				<row>
					<column class="wf padding-b-small">
						<!-- raw-helper -->
						<a href="{{{ unit_4_url }}}{{{ utm_add }}}" target="_blank">
							<img infer="retina" class="wf-img" width="288"
								src="{{{ unit_4_image }}}?w=576&ar=2.2:3&fit=crop&crop=entropy,edges"
								alt="Click to view and book {{ unit_4_name }} on Vacasa.com" />
					</column>
				</row>
				<row>
					<column class="wf padding-b-small">
						<p class="wf-name">
							{{ unit_4_name }}
						</p>
						<p class="wf-loc">
							{{ unit_4_location }}
						</p>
						</a>
						<!-- /raw-helper -->
					</column>
				</row>
			</container>

		</column>
	</row>
</container>
