<container>
	<row class="padding-b-small">
		<column class="section gutter">
			<a href="https://www.vacasa.com/lakefront-vacation-rentals?utm_source=transactional&utm_campaign=book_again&utm_content=last_night_res"
				target="_blank">

				<img width="552" src="https://vacasa-units.imgix.net/1725393.jpg?w=552&ar=2:1&q=35&fit=crop&crop=center"
					alt="Browse lakefront vacation homes on Vacasa.com"></img>

			</a>
		</column>
	</row>
	<row class="padding-b">
		<column class="gutter section">
			<h2 class="white-header tertiary">Dive right in at a beautiful cabin or lake&nbsp;house</h2>

			<span class="sub-message">
				<!--[if mso]>Check out our wide array of lakefront rental options, from private,<br> luxury lake houses to cute shoreside cabins.<![endif]-->
				<!--[if !mso]><!-->Check out our wide array of lakefront rental options, from private, luxury lake houses to
				cute
				shoreside cabins.
				<!--<![endif]-->

			</span>
		</column>
	</row>
</container>
<container>
	<row class="gutter padding-b">
		<column large="6" small="12" class="button text-center">
			{{> primary-button label="Browse Lakefront Homes" url="https://www.vacasa.com/lakefront-vacation-rentals?utm_source=transactional&utm_campaign=book_again&utm_content=last_night_res" }}
		</column>
		<column large="6" small="0"></column>
	</row>
</container>
