<!-- {{{{raw-helper}}}} -->
<container class="lead">
	<row>
		<column class="text-left gutter padding-b mbl-pad-md">
			<h1 class="small-head">We hope you enjoyed your stay</h1>
		</column>
	</row>
	<row>
		<column class="text-left gutter padding-b-xtra-large mbl-pad-md">
			<p class="sub-message">Thanks for staying with Vacasa. If you have time before checking out, here are a few things
				you can do as a big help to our housekeepers.</p>
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
